.header {
    height:60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__logoMobile {
    width:25px;
    margin: 0 10px;
    margin-top: 2px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 30px;
    padding: 5px;
    border: none;
    width:100%;
}

.header__searchIcon {
    padding: 5px;
    height: 30px !important;
    width: 30px !important;
    background-color: #cd9042;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.header__option__lineOne {
    font-size: 10px;
}

.header__option__lineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount {
    margin-right: 10px;
    margin-left: 10px;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width:500px) {
    .header__logo {
        display: none;
    }
    .header__option {
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media (min-width:500px) {
    .header__logoMobile {
        display: none;
    }
}